body {
  background-color: #151515;
  font-family: "Montserrat", sans-serif;
  color: #dedede;
  text-align: center;
}

.main {
  margin-top: 50px;
}

h1 {
  text-align: center;
  color: #dedede;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

p {
  text-align: center;
  color: #dedede;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

h3 {
  margin-top: 80px;
}

a {
  text-align: center;
  text-decoration: none;
  color: #dedede;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
